<%= flash_messages %>
<h2>List of services currently offered:</h2>
<div class="service-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Name</th>
     <th class="col-md-2">Detail</th>
      <th class="col-md-2">Price</th>
     <th class="col-md-2">Provider</th>
      </tr>
    </thead>
    <tbody>
      <% @services.each do |service| %>

        <tr>
         <td class="col-md-2"><%= service.name %></td>
         <td class="col-md-2"><%= service.detail %></td>
         <td class="col-md-2">$<%= service.price %></td>
         <td class="col-md-2">$<%= service.user.try(:email) %></td>

         <td class="col-md-2">

            <%= link_to 'Show', service_path(service), class: "btn btn-info" %>

            <% if user_signed_in? %>
            <%= link_to 'Edit', edit_service_path(service), class: "btn  btn-warning" %>

            <%= link_to 'Destroy', service_path(service), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
           <% end %>

         </td>
       </tr>

      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Service', new_service_path, class: "btn btn-primary"%>
