<%= flash_messages %>
<h2>Service</h2>

<p>
  <strong>Name:</strong>
  <%= @product.name%>
</p>

<p>
  <strong>Detail:</strong>
  <%= @product.detail%>
</p>


<p>
  <strong>Price:</strong>
  	$<%= @product.price %>
</p>

<%= link_to 'Edit', edit_service_path(@service), class: "btn btn-warning" %>
<%= link_to "Back", services_path, class: "btn btn-default" %>
