<!DOCTYPE html>
<html>
  <head>
    <title>Vicinity</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>
    <div id="main-container" class="container">
  		<%= yield %>
  	</div>
  </body>
</html>
